body{
  height: 95%;
  width: 100%;
}

.align-items-center{
  justify-content: center;
}


.nav-link{
  margin-left: 2rem;
  margin-right: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .align-items-center{
    align-items: unset !important;
    width: fit-content;
  }

  .subcontent{
    width: 100%;
  }
}


