
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="people/peopleList">People list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="people/personForm/-1">Add new person</a>
      </li>
    </ul>
  </div>
</nav>
<div class="subcontent h-100 d-flex align-items-center">
  <router-outlet></router-outlet>
</div>





