.align-items-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.nav-link{
  margin-inline: 2rem;
  box-sizing: border-box;
}

.container-fluid {
  width: unset;
}



@media screen and (max-width: 500px) {
  .align-items-center{
    align-items: unset !important;
  }
}

@media screen and (max-width: 575px) {
  .container-fluid{
    width: 100%;
  }

  .navbar{
    display: block !important;
  }
}

