.btn{
  margin: 0 auto;
}

.invalid{
  color: red;
}

.form-control{
  margin: 1em 0em;
}

.card{
  align-items: center;
  box-sizing: border-box;
  width: 25rem;
}

form {
  width: 60%;
}

.form-control {
  display: unset;
}

@media screen and (max-width: 500px) {
  .card{
    width: inherit;
    box-sizing: content-box;
  }
}


