<div class="d-flex card container-fluid align-items-center py-3 w-100">
  <table class="py-5 table table-hover">
    <thead>
      <tr>
        <th scope="col">N.</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Nascita</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Azioni</th>
      </tr>
    </thead>
  @for(person of people; track person.name; let i = $index){
        <tr>
          <th scope="row">{{ i }}</th>
          <td class="col-xs-4 overflow-hidden text-overflow-ellipsis">{{ person.name }}</td>
          <td class="col-xs-4 overflow-hidden">{{ person.surname }}</td>
          <td class="col-xs-4 overflow-hidden">{{ person.birthDate | date: 'dd/MM/yyyy' }} </td>
          <td class="col-xs-4overflow-hidden">{{ person.address }}</td>
          <td>
            <div class="white-space-nowrap">
              <button  type="button" class="d-inline" title="Modifica persona" (click)="setClickedButton(1); setPersonId(i); " class="btn btn-warning">
                <i class="bi bi-pencil"></i>
              </button>
              <button type="button" title="Elimina persona" (click)="setClickedButton(2); setPersonId(i); deletePerson(i); " class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>

  }
</table>
  <button type="button" title="Add person" class="btn btn-success add" (click)="setClickedButton(3); setPersonId(-1);">
    <i class="bi bi-plus-circle"></i>
    Aggiungi
  </button>

</div>
@if(clickedButton == 1 && !close){
  <app-person [personId]="personId" [title]="'Modifica utente'" (close)="closeForm($event)"></app-person>
}
@else if(clickedButton == 3 && !close){
  <app-person [personId]="personId" [title] = "'Aggiungi nuovo utente'" (close)="closeForm($event)"></app-person>
}


